@import url(./reset.css);

:root {
    font-size: 62.5%;
    body {
        // Body font size 16px
        font-size: 1.6rem;
    }
}
body {
    background: #fff;
    font-family: arial,sans-serif;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    padding: 1.6rem 2rem;
    font-size: 1.3rem;
}
/* header end */

/* nav */
.nav li a {
    padding: 0 1.2rem;
    color: #000;
    opacity: 0.75;
}
.nav li a:hover {
    text-decoration: underline;
}
.navleft {
    display: flex;
    justify-content: flex-start;
}
.navright {
    display: flex;
    justify-content: flex-end;
}
.nav li a#apps {
    background-image: url(//ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    background-size: 528px 68px;
    background-position: -132px -38px;
    opacity: .55;
}
.nav li a#account {
    display: absolute;
    padding: 0;
}
.nav li a#account span {
    display: block;
    position: relative;
    background-image: url(https://lh3.google.com/u/0/ogw/ADGmqu_fpt6Ye3mh2VxxO-c3XOWSRst4-OxH08oVamNm=s32-c-mo);
    height: 32px;
    width: 32px;
    border-radius: 50%;
    top: 0;
}
/* nav end */

/* main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin: auto;
    text-align: center;
}
#logo {
    margin-top: 10.9rem;
    filter: none;
}
#search-wrap {
    border: 1px solid #dfe1e5;
    border-radius: 2.4rem;
    height: 4.4rem;
    width: 58.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem auto 1.5rem auto;;
}
#search-wrap input {
    width: 100%;
    margin: 0 4rem;
    border: none;
    outline: none;
}
#buttons input {
    border-radius: 0.4rem;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    font-size: 1.4rem;
    color: #5F6368;
    margin: 11px 4px;
    padding: 0 1.6rem;
    line-height: 2.7rem;
    min-width: 54px;
    cursor: pointer;
}
#buttons input:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
    background-color: #f8f8f8;
}
/* main end */



/* footer */
footer {
    display: flex;
    justify-content: space-between;
    padding: 1.6rem 2rem;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 1.5rem;
}
/* footer end */